* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 60px;
    background-color: rgb(248, 79, 220);
    color: rgb(252, 252, 252);
}

input {
    font-size: 1.2rem;
    width: 100%;
    color: rgb(248, 79, 220);
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  align-content: center;
  border: 3px solid rgb(252, 252, 252);
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  width: 300px;
}
.card p{
  padding: 5px;
  text-align: center;
}
.card img {
  max-height: 177px;
}